$channel-grid-width: 300px;
$channel-grid-height: 300px;
$channel-grid-field-height: 45px;

/**
 * the base fonts style
 */
.baseFonts {
    font-family: 'Roboto', sans-serif;
    font-size: 14;
}

/**
 * the base width of channel grid item
 */
.baseChannelGridWidth {
    width: $channel-grid-width;
}

/**
 * the base field of channel grid card
 */
.baseChannelGridField {
    @extend .baseFonts, .baseChannelGridWidth;
    height: $channel-grid-field-height;
}

/**
 * the channel grid card
 */
.ChannelGridItem {
    @extend .baseFonts, .baseChannelGridWidth;
    position: absolute;
    height: $channel-grid-height;
    border-color: $grey-300;
    border-style: solid;
    border-width: 1px;
    background-color: #eee;
    transition: 0.3s;

    /**
     * the container style of channel drawing snapshot
     */
    .ChannelSnapshot {
        @extend .baseChannelGridWidth;
        position: absolute;
        height: 240px;
        padding: 20px 6px;
        background-color: #E9F1F6;
        cursor: pointer;
    }

    .ChannelSummary {
        @extend .baseChannelGridField;
        position: absolute;
        bottom: 0px;
        background-color: #fff;
        color: $grey-500;
        line-height: 40px;
        height: 60px;
        padding: 10px 10px;
        overflow: hidden;
        transition: 0.3s;

        .ChannelName {
            line-height: 20px;
            font-size: 20px;
            color: #666;
        }

        .ChannelHost {
            line-height: 20px;
            font-size: 12px;
            color: #aaa;
        }

        .ChannelToolbar {
            height: 0px;
            opacity: 0;
        }
    }

    &:hover{
        margin-bottom: 15px;
        margin-left: 4px;
        border-bottom: 2px rgba(0, 0, 0, .2);
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .2);    

        .ChannelSummary {
            height: 100px;
        }

        .ChannelToolbar {
            height: 40px;
            opacity: 1;
        }
    }
}

/**
 * the container style of channel host info field
 */
.ChannelHostInfo {
    @extend .baseChannelGridField;
    color: $grey-700;
}

/**
 * the container style of channel members
 */
.ChannelMembers {
    @extend .baseChannelGridField;
    overflow: hidden;
}

/**
 * the img style of channel drawing snapshot
 */
.ChannelSnapshotImg {
    width: auto;
    height : auto;
    max-width: 100%;
    max-height: 100%;
}

/**
 * the style of channel name which belong to channel summary field
 */
.ChannelTitle {
    @extend .baseFonts;
    font-weight: 900;
    color: $grey-600;
}

/**
 * the style of channel member avatar
 */
.MemberAvatar {
    padding-top: 5px;
    padding-left: 5px;
}

/**
 * the style of timestamp that user latest visited
 */
.ChannelTimestamp {
    @extend .baseFonts;
    font-size: 12px;
    color: $grey-600;
}
