$channel-grid-width: 250px;
$channel-grid-height: 250px;
$channel-grid-field-height: 45px;

$channel-list-min-width: 600px;
$channel-list-max-width: 800px;
$channel-list-height: 70px;
$channel-list-field-height: 45px;

/**
 * the base fonts style
 */
.baseFonts {
    font-family: 'Roboto', sans-serif;
    font-size: 14;
}

/**
 * the base width of channel grid item
 */
.baseChannelGridWidth {
    width: $channel-grid-width;
}

/**
 * the base field of channel grid card
 */
.baseChannelGridField {
    @extend .baseFonts, .baseChannelGridWidth;
    height: $channel-grid-field-height;
}

/**
 * the channel grid card
 */
.ChannelGridItem {
    position: relative;
    height: $channel-grid-height + 20;
    width: $channel-grid-width + 20;
    background-color: $color-background_2;
    float: left;
    margin: 5px 10px;

    .ChannelGridInsideItem {
        @extend .baseFonts;
        position: absolute;
        width: $channel-grid-width + 2;
        height: $channel-grid-height;
        border-color: $grey-400;
        border-style: solid;
        border-width: 1px;
        background-color: #eee;
        transition: 0.3s;    
        margin: 10px 10px;

        /**
         * the container style of channel drawing snapshot
         */
        .ChannelSnapshot {
            @extend .baseChannelGridWidth;
            position: absolute;
            height: 240px;
            padding: 20px 6px;
            background-color: $grey-100;
            cursor: pointer;
        }

        .ChannelSummary {
            @extend .baseChannelGridField;
            position: absolute;
            bottom: 0px;
            background-color: #fff;
            color: $grey-500;
            line-height: 40px;
            height: 60px;
            padding: 10px 10px;
            overflow: hidden;
            transition: 0.3s;

            .ChannelName {
                line-height: 20px;
                font-size: 16px;
                color: #666;
                margin-left: 10px;
            }

            .visitedInfo {
                line-height: 28px;
                font-size: 12px;
                color: #aaa;
                margin-left: 10px;
            }

            .ChannelToolbar {
                height: 0px;
                opacity: 0;
                font-size: 16px;
                margin-left: 10px;
                transition: 0.5s;

                .toolIcon {
                    width: 30px;
                    float: left;
                    font-size: 14px;
                    padding-top: 13px;
                    cursor: pointer;
                }
                .toolIcon:hover {
                    color: $grey-800;
                }
            }
        }

        &:hover{
            margin-bottom: 14px;
            margin-left: 15px;
            border-bottom: 2px rgba(0, 0, 0, .2);
            box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .2);    
            
            .ChannelSummary {
                height: 100px;
            }

            .ChannelToolbar {
                height: 40px;
                opacity: 1;
            }
        }
    }
}

/**
 * the channel list card
 */
.ChannelListItem {
    @extend .baseFonts;
    position: relative;
    margin-left: 10px;
    margin-right: 100px;
    height: $channel-list-height;
    min-width: 400px;
    margin-bottom: 2px;
    border-color: $grey-300;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    transition: 0.3s;

    /**
     * the container style of channel drawing snapshot
     */
    .ChannelSnapshot {
        position: absolute;
        height: $channel-list-height - 2;
        width: 120px;
        background-color: $grey-100;
        cursor: pointer;
        float: left;
    }

    .ChannelSummary {
        position: absolute;
        left: 130px;
        right: 0px;
        bottom: 0px;
        background-color: #fff;
        color: $grey-500;
        height: $channel-list-height - 2;
        padding: 5px 10px;
        overflow: hidden;
        transition: 0.3s;
        float: left;
        .ChannelName {
            line-height: 30px;
            font-size: 16px;
            color: #666;
            margin-left: 10px;
        }
        .visitedInfo {
            line-height: 28px;
            font-size: 12px;
            color: #aaa;
            margin-left: 10px;
        }
        .ChannelToolbar {
            position: absolute;
            top: 36px;
            left: 100px;
            opacity: 0.5;
            font-size: 13px;
            .toolIcon {
                width: 30px;
                float: left;
                padding-top: 5px;
                cursor: pointer;
            }
            .toolIcon:hover {
                color: $grey-800;
            }
        }

        /**
         * overwrite original avtar style, make it more bigger to fit here style
         */
        .UserAvatar {
            position: absolute;;
            top: 15px;
            right: 20px;
        }
    }

    &:hover{
        margin-bottom: 15px;
        margin-left: 14px;
        border-bottom: 2px rgba(0, 0, 0, .2);
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .2);
        .ChannelToolbar {
            opacity: 1;
        }
        .ChannelName {
            color: $light-blue-700;
            font-weight: bold;
        }
    }
}


/**
 * the img style of channel drawing snapshot
 */
.ChannelSnapshotImg {
    width: auto;
    height : auto;
    max-width: 100%;
    max-height: 100%;
}
