$base-dashboard-content-width: 960px;
$base-dashboard-content-left: 150px;
$dashboard-toolbar-height: 30px;

/**
 * the content layout on dashboard
 */
.DashboardContentLayout {
    /**
     * the style of toolbar on dashboard
     */    
    .DashboardToolBar {
        .toolIcon {
            float: left;
            width: 30px;
            padding-left: 10px;
            font-size: 18px;
            color: $grey-500;
        }
        .active {
            color: $grey-700;
        }
        .toolIcon:hover {
            color: $grey-700;
        }
    }
    .DashboardItems {
        margin-top: $dashboard-toolbar-height;
        .DashboardGridLayout {
            padding-top: 0px;
        }
        .DashboardListLayout {
            padding-top: 15px;
        }
    }
}
