/************************************************
 *
 *            App defintion main color 
 *
 ************************************************/

$color-main: #27A;
$color-background_1: #ffffff;
$color-background_2: #eeeeee;
$color-boxHead: #2D2D2D;
$color-boxBody: #5E807F;
