
/**
 * @Author: Jos Tung
 * @Description: this style for message component using in DiscussionArea.jsx
 *  Note: the div stratum can refer below information.
 *  --MsgContainer
 *    --MsgContent
 *      --MsgSender
 *      --MsgText
 *      --MsgTime
 */
.MsgContainer {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .MsgContent {
        padding: 10px 2px 5px 2px;
        border-bottom-style: solid;
        border-bottom-color: #eee;
        border-bottom-width: 1px;
        .MsgSender {
            color: $cyan-800;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.7;
        }
        .MsgText {
            color: $grey-600;
            font-size: 13px;
            line-height: 1.7;
            word-break:break-all;
        }
        .MsgTime {
            color: $grey-400;
            font-size: 9px;
            text-align: right;
        }
    }
}

/**
 * the style of reload component
 */
.ReloadImg {
    position: absolute;
    right: 5px;
    padding: 0px 0px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-bottom-width: 1px;
    transition: 1s;
    opacity: 1;
}
