/**
 * the eventToaster and eventMessage style
 */
.EventToaster {
    .event {
        @extend .baseFonts;
        position: fixed;
        width: auto;
        height: 60;
        margin-left: 10px;
        padding: 10px;
        background-color: #FFF;
        border-width: 1px;
        border-color: $grey-300;
        border-style: solid;
        z-index: 2;
        left: 0px;
        border-radius: 10px;
        opacity: 0.9;
        transition: 0.3s;
    }
    .event-icon {
        float: left;
        padding-top: 15px;
        cursor: pointer;
    }
    .event-content {
        float: left;
        padding-left: 10px;
        line-height: 20px;
        .event-content-title {
            font-weight: bold;
            font-size: 16px;
        }
        .event-content-message {
            font-size: 14px;
        }
    }
    .event-action {
        float: left;
        padding: 5px 10px;
    }

    /**
     * the background color of each type of event
     */
    .event-success {
        color: $green-500;
    }
    .event-info {
        color: $light-blue-700;
    }
    .event-warning {
        color: $yellow-700;
    }
    .event-error {
        color: $red-500;
    }
}
