$friend-avatar-width: 50px;
$friend-right-offset: 10px;
$friend-hieght: 60px;

/**
 * friend style
 */
.Friends {
    @extend .infoBox;
    z-index: 3;
    right: -300px;
    visibility: hidden;
    opacity: 0;
}

.FriendsShow {
    @extend .infoBox;
    z-index: 3;
    right: 0px;
    visibility: visible;
    overflow: auto;
    opacity: 1;
}

.hasIncomingCall {
    animation-name: callNotification;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@keyframes callNotification {
    0%   { 
        opacity: 0.6;
    }
    100% { 
        opacity: 1;
    }
}
