/**
 * friend style
 */
.Friends {
    @extend .infoBox;
    z-index: 2;
    right: -300px;
    visibility: hidden;
    opacity: 0;
}

.FriendsShow {
    @extend .infoBox;
    z-index: 2;
    right: 0px;
    visibility: visible;
    opacity: 1;
}

.Friend {
    position: relative;
    padding: 2px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    /**
     * style of friend infomation
     * only define height to control information size
     */
    
    .infoContent {
        height: 40px;
        overflow: hidden;
        /**
         * style of friend's name
         */
        
        .displayName {
            font-family: 'Roboto', sans-serif;
            color: #000;
            font-size: 16px;
            line-height: 20px;
        }
        /**
         * style of last message
         */
        
        .lastMessage {
            font-family: 'Roboto', sans-serif;
            color: #888;
            font-size: 14px;
            line-height: 20px;
        }
    }
    /**
     * define the base style of online / offline light
     */
    
    .baseLightState {
        position: absolute;
        right: 1px;
        top: 12px;
        border-radius: 10px;
        height: 10px;
        width: 10px;
    }
    /**
     * style of online light
     */
    
    .onlineState {
        @extend .baseLightState;
        background-color: green;
    }
    /**
     * style of offline light
     */
    
    .offlineState {
        @extend .baseLightState;
        background-color: #bbb;
    }
}

.Friend:hover {
    background-color: #eee;
}
