$header-main-color: #FFF;
$header-state-color: #144766;
$header-active-state-color: #fff;

/**
 * unread notification state container
 */
.baseCounterContainer {
    font-size: 25px;
    width: 50px;
}

/**
 * unread notification state counter
 */
.baseCounter {
    width: 17px;
    height: 17px;
    padding-top: 2px;
    border-radius: 50%;
    opacity: 0.9;
    font-size: 11px;
    text-align: center;
    background-color: $red-600;
    color: $grey-300;
}

/**
 * the main style of Header.jsx
 */
.Header {
    @extend .baseBox, .baseFonts;
    background-color: $color-main;
    border-color: $grey-300;
    border-bottom-style: solid;
    border-width: 1px;
    height: $app-header-height;
    color: $header-main-color;
    z-index: 5;
    position: relative;

    /**
     * the left part of header menu
     */
    .headerLeftMenu {
        position: absolute;
        top: 0px;
        left: 10px;
        .leftState {
            float:left;
        }
    }

    .headerLogo {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -20px;
        font-size: 20px;
        line-height: 50px;
        .headerVersion {
            position: absolute;
            line-height: none;
            bottom: -13px;
            right: -13px;
            font-size: 11px;
            color: #F5A120;
        }
    }

    /**
     * the right part of header menu
     */
    .headerRightMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        .userState {
            float:left;
            cursor: pointer;
            .UserStateName {
                float:left;
                font-size: 12px;
                padding-left: 5px;
                margin-right: 10px;
                line-height: $app-header-height;
            }
            .UserAvatar {
                float:left;
                margin-top: 10px;
                width: 30px;
                height: 30px;
            }
        }
        .rightState {
            float: left;
            padding-right: 10;
        }
    }

    .fa {
         color: $header-state-color;
    }
    
    .active {
        color: $header-active-state-color;
    }
}
