
/**
 * the style of info card
 */
.InfoCard {
    @extend .baseFonts;
    .infoCardContent {
        height: 50px;
        overflow: hidden;
        color: $grey-500;
        font-size: 12px;
        line-height: 24px;

        .extraInfoContent {
            color: #27A;
            font-size: 16px;
        }
    }
}
