$app-header-height: 50px;
$app-footer-height: 40px;
$app-infoBox-width: 250px;

/**
 * application container
 * we have to cut the overflow area to avoid scroll bar.
 */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
}

/**
 * define the base style of box
 */
.baseBox {
    position: fixed;
    z-index: 1;
}

/**
 * define the style of html main body box
 */
.bodyBox {
    @extend .baseBox;
    top: $app-header-height;
    left: 380px;
    bottom: 0px;
}

/**
 * define the style of menu box 
 */
.menuBox {
    @extend .baseBox;
    background-color: $color-main;
    border-bottom: 1px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .2);
    height: $app-header-height;
    width: 100%;
    color: #FFF;
    z-index: 5;
}

/**
 * define the style of main box 
 */
.mainBox {
    @extend .baseBox;
    background-color: $color-background_2;
    top: $app-header-height;
    width: 100%;
    padding-right: $app-infoBox-width;
    overflow: scroll;
    height: 100%;
}

/**
 * define the style of info box 
 */
.infoBox {
    @extend .baseBox;
    background-color: $color-background_1;
    width: $app-infoBox-width;
    top: $app-header-height;
    right: 0px;
    bottom: 0px;
    transition: 0.4s;
    box-shadow: 0 3px 10px rgba(0,0,0,.23);
}

/**
 * define the style of priv box 
 */
.privBox {
    position: fixed;
    z-index: 2;
    float: right;
    height: 0px;
    left: 0px;
    bottom: 0px;
    right: $app-infoBox-width;
}

/**
 * define the style of left nav box
 */
.leftNavBox {
    @extend .baseBox;
    background-color: $color-background_2;
    top: $app-header-height;
    bottom: 0px;
    width: 0px;
    z-index: 3;
}

/**
 * define the style of page footer
 */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $app-footer-height;
    background-color: $grey-300;
    color: $grey-600;
    opacity: 0.5;
    z-index: 5;
}
