.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
}

.baseBox {
    position: fixed;
    z-index: 1;
}

.menuBox {
    @extend .baseBox;
    background-color: $color-main;
    border-bottom: 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
    height: 50px;
    width: 100%;
}

.mainBox {
    @extend .baseBox;
    background-color: $color-background_1;
    top: 50px;
    right: 250px;
    bottom: 0px;
    left: 0px;
}

.infoBox {
    @extend .baseBox;
    background-color: $color-background_2;
    width: 250px;
    top: 50px;
    right: 0px;
    bottom: 0px;
}

.privBox {
    position: fixed;
    z-index: 2;
    float: right;
    height: 300px;
    left: 0px;
    bottom: 0px;
    right: 250px;
}