$shadow_radius: 6px;
$nose_size: 12px;
$shadow: 0 1px $shadow_radius #B2B2B2;
$border:  1px solid #bbb;

/************************************************
 *
 *            Message Box
 *
 ************************************************/

.MsgBoxHeader {
    background-color: #3F3F3F;
    font-family: monospace;
    font-size:18px;
    font-weight: bolder;

    padding-top:5px; 
    padding-left:30px; 
    padding-right:30px; 
    padding-bottom:5px; 

    border-color:#FFFFFF;
    border-width:1px;

    margin-top:0px; 
    margin-left:0px; 
    margin-right:auto;
    margin-bottom:0px;
    color: #FFFFFF;
}

.MsgBox {
    background-color: #EEEEEE;
    box-sizing: border-box;
    margin-left: 10px;

    
}

.MsgList {
    border-style: solid;;
    border-color: #bbb;
    border-width: 1px;
    border-bottom: none;

    height: 240px;
    overflow: scroll;
}

/************************************************
 *
 *            InputArea
 *
 ************************************************/

.InputArea {
    overflow: hidden;
    border-style: solid;;
    border-color: #bbb;
    border-width: 1px;
    border-top: none;    
}

.InputBox {
    background-color: #DDDDDD;
    margin-left: 10px;
}

.msgSubmitButton {
    background-color: #598EB2;
    margin-left: 10px;
    color: #FFFFFF;
}

/**
 * @Author: Jos Tung
 * @Description: this style for message component using in DiscussionArea.jsx
 *  Note: the div stratum can refer below information.
 *  --MsgContainer
 *    --MsgContent
 *      --MsgSender
 *      --MsgText
 *      --MsgTime
 */
.MsgContainer {
    position: absolute;
    top: 0px;
    bottom: 90px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .MsgContent {
        padding: 10px 2px 5px 2px;
        border-bottom-style: solid;
        border-bottom-color: #eee;
        border-bottom-width: 1px;

        .MsgSender {
            color: $color-main;
            font-size: 12px;
            line-height: 1.7;
        }

        .MsgText {
            color: #333;
            font-size: 14px;
            line-height: 1.7;
        }

        .MsgTime {
            color: #777;
            font-size: 12px;
            padding-right: 5px;
            text-align: right;
        }
    }
}

.bubble {
    background-color: #F2F2F2;
    border-radius:    5px;
    border:           $border;
    box-shadow:       $shadow;
    display:          block;
    padding:          10px 18px;
    margin:           1em ($shadow_radius + $nose_size);
    margin-top:       0px;
    position:         relative;
    vertical-align:   top;
}

.tail {
    position: absolute;
    height:  ($shadow_radius + $nose_size);
    width:   ($shadow_radius + $nose_size);
    overflow: hidden;

    &:before {
        border:            $border;
        background-color:  #F2F2F2;
        box-shadow:        $shadow;
        content:           "\00a0";

        display:           block;
        position:          absolute;
        top:               0px;
        height:            $nose_size;
        width:             $nose_size;
    }
}

.bubble.left {
    text-align: left;

    .tail {
        top:      $nose_size;
        left:   -($shadow_radius + $nose_size);

        &:before {
            left:              $nose_size;
            -webkit-transform: skewX( -45deg );
            -moz-transform:    skewX( -45deg );
            -o-transform:      skewX( -45deg );
        }
    }
}

.bubble.right {
    text-align: right;
    
    .tail {
        top:      $nose_size;
        right:   -($shadow_radius + $nose_size);

        &:before {
            right:              $nose_size;
            -webkit-transform: skewX( 45deg );
            -moz-transform:    skewX( 45deg );
            -o-transform:      skewX( 45deg );
        }
    }
}