
/**
 * @Author: Jos Tung
 * @Description: this style for notice component using in Notification.jsx
 *  Note: we only put a 300x300 div to display notice
 */
.Notification {
    position: fixed;
    top: -100px;
    right: 20px;
    width: 360px;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    border-bottom: 1px rgba(0, 0, 0, .2);
    border: solid 1px $grey-300;
    z-index: 4;
}

.NotificationShow {
    top: 50px;
    opacity: 1;
    visibility: visible;
}
