/**
 * style for showing local video webcam
 */
.Webcam-shown {
    position: fixed;
    bottom: 45px;
    left: 5px;
    z-index: 100;
    cursor: move;
    box-shadow: -1px 4px 4px rgba(black,0.1), 2px 6px 12px rgba(black,0.1);
}

/**
 * style for hiding local video webcam
 */
.Webcam-hidden {
    display: hidden;
}
