$signup-form-width: 650px;
$signup-form-cover-height: 330px;

.baseSignupFormWidth {
    width: $signup-form-width;
}

/**
 * the basic signup form layout
 */
.SignupForm {
    @extend .baseSignupFormWidth;
    position: absolute;
    margin-left: -1/2 * $signup-form-width;
    margin-top: 30px;
    margin-bottom: 15px;
    left: 50%;
    text-align: center;
}

/**
 * the signup slogan text style
 */
.SignupSlogan {
    font-size: 30px;
}

/**
 * the cover picture signup form
 */
.SignupFormCover {
    @extend .baseSignupFormWidth;
    height: $signup-form-cover-height;
}