
/**
 * @Author: Jos Tung
 * @Description: this style for subscription channels component using in Subscription.jsx
 *  Note: the div stratum can refer below information.
 *  --SubscriptionChannels
 */


.SubscriptionChannels {
    @extend .listBox;
    transition: 0.5s;
    z-index: 4;
}

.SubscriptionChannelsShow {
    left: 0px;
    visibility: visible;
    opacity: 1;
}

.SubscriptionChannelsHide {
    left: -300px;
    visibility: hidden;
    opacity: 0;
}
