$app_canvas_width: 900px;
$app_canvas_height: 500px;

/**
 * the style of drawing area on workspace
 */
.DrawingArea {
    width: $app_canvas_width;
    height: $app_canvas_height;
    background-color: #FFF;
    margin-left: 200px;
    margin-top: 5%;
}

/**
 * the style of discussion area on workspace
 */
.DiscussionArea {
    width: 100%;
    padding: 5px 5px;
    position:absolute;
    height: 50px;
    bottom:$app-footer-height;
    right:0px;
}

.DiscussionArea .mui-text-field{
    width: 100%; 
}

