@import "compass/reset";
@import "compass/css3";
@import "./layout";
@import "./userAvatar";
@import "./msg";

$color: red;

.page {
    background-color: $color
}
.box{
    @include border-radius(5px);
}

/**
 * define the div of 1vs1 msg node
 */
.PrivateNode {
    width: 300px;
}